/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Tables */
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
    border: none;
    white-space: nowrap;
}

.table tbody tr > td {
    vertical-align: middle;
    border-bottom: 1px solid #eee;
}

.form-control.invalid {
    border-color: #dc3545;
}

.form-control.valid {
    border-color: #28a745;
}

.validation-message {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.form-control-style{
    max-width: 100%;
}